@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 align="center">Dashbaord </h1>

<br /><br /><br /><br />
<div class="container">

    <div class="row">

        <h1>wel come to dashboard Area of the Admin  </h1>
        <br />


        <h1 class="btn btn-primary"> <a href='@Url.Action("ViewStudent","Student")'>Student Panel </a> </h1> <br/>

        <h1 class="btn btn-primary"> <a href='@Url.Action("ViewStaff","Staff")'>Student Panel </a> </h1>

        <h1><a href='@Url.Action("SignIn","Login")'>Back to Login Page  </a></h1>



    </div>


</div>
